/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Karla;
  color: #333333;
  background: #fafafa;
}

h1,
h2,
h3 {
  font-weight: 800;
  letter-spacing: -0.05em;
}

h1 {
  font-size: 3rem;
  line-height: 64px;
}

h2 {
  font-size: 2rem;
  line-height: 56px;
}

h3 {
  font-size: 1.5rem;
  line-height: 32px;
}

h4 {
  font-size: 1rem;
  line-height: 24px;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 40px;
}

p.body-2 {
  font-size: 1rem;
  line-height: 32px;
}

input:focus {
  outline: none;
}

button {
  font: inherit;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:focus {
  outline: none;
}

button:active {
  opacity: 0.9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

button:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.section-header {
  color: #5aa3a9;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: normal;
}

@media (max-width: 320px) {
  .section-header {
    font-size: 1.5rem;
    line-height: 32px;
    margin: 0;
    margin-bottom: 32px;
    text-align: left;
  }
}
